/* went on google and downloaded background and posted code to make it the back */
html { 
  margin: auto;
  max-width: 1200px;
  max-height: 800px;
  resize: both;
    background: url(/background/backgroundphoto.jpeg) no-repeat center center fixed; 
    background-size: cover;
  }
body{
	padding: 0;
	margin: 0;
}

.flexwork{
 display:grid;
 grid-template-columns: 2fr 1fr 1fr 2fr;
 grid-template-rows: 1fr 3fr 1 ;
 justify-items: center;
 align-items: end;
}
/* button code modified, thank you https://codepen.io/derekmorash/pen/XddZJY */
/* //BUTTON 1 */
button {
    box-sizing: border-box;
    appearance: none;
    background-color: black;
    opacity: 70%;
    border: 2px solid red;
    border-radius: 0.6em;
    color: red;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px;
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: auto;
  }

COPIED CASTLE BASIC COLUM/ROOF ONLINE AND MODIFIED width/heigh/color/shape
.container{
height: 100vh;
width: 100px;
    align-self: end;
    justify-content: center;
}

.firstcolumn{
	margin-left: 3.25vw;
	width:11.5vw;
	height:29vh;
    background: linear-gradient(90deg, rgba(118,206,228,1) 0%, rgba(209,240,245,1) 36%, rgba(63,141,190,1) 100%);

}
.first .castleRoof{
        position: bottom;
        margin-left: 1.7vw;
        width: 0;
        height: 0;
        border-left: 7.2vw solid transparent;
        border-right: 7.2vw solid transparent;
        border-bottom: 25vh solid #013990;
    }
.secondcolumn{
     object-position:100px ;
        margin-left: 1.25vw;
        width:11.5vw;
        height:29vh;
        background: linear-gradient(90deg, rgba(118,206,228,1) 0%, rgba(209,240,245,1) 36%, rgba(63,141,190,1) 100%);
      }

body .second .castleRoof2{
            margin-right: 1.7vw;
            width: 0;
            height: 0;
            border-left: 7.2vw solid transparent;
            border-right: 7.2vw solid transparent;
            border-bottom: 25vh solid #013990;
        }
p{
    background-color: red;
    font-size:20px;
    font-weight: 900;
    text-decoration-color: blueviolet;
    text-align: center;
}
h1{ text-align: center;}
h3{text-align: center;}
/* COPIED STICK FIGURES FROM ONLINE THANK YOU TO : https://codepen.io/lorayoconnell/pen/pyayOP */
* {
  box-sizing: border-box;
}

.wrapper {
  width: 300px;
  height: 300px;
  display: block;
  position: relative;
  align-items: flex-end;
  align-self: end;
}

.head {
  width: 50px;
  height: 60px;
  border: 5px solid black;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 21px;
  left: 133px;
  z-index: 1;
  animation: rock 1s alternate infinite ease-in-out;
  transform-origin: center bottom;
}

/* @keyframes rock {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
} */

.torso {
  width: 6px;
  height: 100px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 80px;
  left: 156px;
}

.leftleg {
  width: 6px;
  height: 125px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 175px;
  left: 155px;
  transform: rotate(12deg);
  transform-origin: top;
}

.rightleg {
  width: 6px;
  height: 125px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 175px;
  left: 157px;
  transform: rotate(-12deg);
  transform-origin: top;
}

.leftarm {
  width: 100px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 109px;
  left: 57px;
  animation: wave 1s alternate infinite ease-in-out;
  transform-origin: 100%;
}

/* @keyframes wave {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(40deg);
  }
} */

.rightarm {
  width: 100px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 109px;
  left: 161px;
  /* animation: wave2 1s alternate infinite ease-in-out;
  transform-origin: 0%; */
}

/* @keyframes wave2 {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-40deg);
  }
} */

.leftfoot {
  width: 30px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 289px;
  left: 105px;
  transform: rotate(8deg);
}

.rightfoot {
  width: 30px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 290px;
  left: 183px;
  transform: rotate(-8deg);
}
.weapons {
  width: 118px;
  height: 6px;
  border: 5px solid black;
  display: block;
  position: absolute;
  top: 75px;
  left: 192px;
  transform: rotate(90deg);
  -webkit-box-reflect: above 95px;
  animation: wave2 1s alternate infinite ease-in-out;
  /* transform-origin: 0%; */
  
/* }
 @keyframes wave2 {
  0% {
    transform: rotate(86deg);
    width:110px;
  }
  100% {
    transform: rotate(94deg);
    width: 150px; */
  }
} 
/* learned z index and copied code/modified to work */
#rulemodal{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    display:none;
    background-color: red ;
    color:navy;
  }
  #winbuy{
    border: black 2px solid;
    width: 800px;
    height: 500px;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 1;
    display:none;
    background-color: green ;
    color:yellow;
  }

.buymenu{
  background-color: DodgerBlue;
 }

.label1{      
  width: 100px;
  height: 100px;
  border: 8px solid black;
  display: block;
  position: absolute;
  top: 108px;
  left: 17px;
  font-weight: 900;
  text-align: center;
  text-size-adjust: auto;
  font-size: large;

}
.label2{        width: 100px;
  height: 100px;
  border: 8px solid black;
  display: block;
  position: absolute;
  top: 108px;
  right: 17px;
  font-weight: 900;
  text-align: center;
  text-size-adjust: auto;
  font-size: large;
}
.buyBts{
}